body{
	background: #7f8fa6;
	color: white;
}
.top-navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.logo{
	margin-left: 10px;
}
.search{
	flex: 0.6;
	display: flex;
	align-items: center;
}
.search>input{
	height: 40px;
	border-radius: 30px;
	border: none;
	width: 100%;
}
.search>input::placeholder{
	color: black;
	padding: 5px 10px;
}
.search>i{
	margin-left: -30px;
	color: black;
	padding-right:8px;
}
.username{
	padding: 0 10px;
}
.username>img{
	object-fit: contain;
	height: 30px;
	width: 40px;
	border-radius: 50%;
}
.account{
	margin-right: 70px;
	display: flex;
	padding: 0 10px;
	align-items: center;
	justify-content: center;
}